/* Footer.css */
.footer {
    text-align: center;
    padding: 10px;
    background-color: #282c34;
    color: white;
    font-size: 14px;
    width: 100%;
    margin-top: 18%;
   
}
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */

@media(max-width: 600px) {
   
    
}
 
