/* Footer.css */
.footer {
  position: fixed;
    text-align: center;
    padding: 10px;
    background-color: #282c34;
    color: white;
    font-size: 14px;
    width: 100%;
    bottom: 0px;
  
 
   
}


/* @media(max-width: 600px) {
  .footer{
    bottom: 0px;
  }
   
    
}

@media (min-width:601px) and (max-width:1024px) {
  .footer{
    bottom: 0px;
  }
  
} */
 
