.title {
    
    padding: 20px;
    color:black;
    text-align: center;
    background-color: aqua;
    font-size: 30px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bolder;
    display: flex;
    justify-content: center;
  
}



